ZippyId.xcworkspace/xcuserdata
ZippyIdSDK/ZippyIdSDK.xcodeproj/xcuserdata
ZippyIdSDKDemo/ZippyIdSDKDemo.xcodeproj/xcuserdata
ZippyIdSDKDemo/Pods
ZippyIdSDKDemo/ZippyIdSDKDemo.xcworkspace/xcuserdata
ZippyIdSDK/ZippyIdSDK.xcodeproj/project.xcworkspace/xcuserdata
